body{
    background-color: #f5f7fa;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.containter{
  width: 1600px;
  height: auto;
  margin: auto;
  display: flex;

  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.kwadrat1, .kwadrat2, .kwadrat3, .kwadrat4, .kwadrat5, .kwadrat6, .kwadrat7, .kwadrat8, .kwadrat9{
    width: 300px;
    height: 300px;
    margin: 30px;

    padding: auto;
}

.kwadrat1{
    background-color: #899fc2;
}

.kwadrat2{
    background-color: #daa49d;
    float: left;
}

.kwadrat3{
    background-color: #94c08c;
}

.kwadrat4{
    background-color: #d3d494;
}

.kwadrat5{
    background-color: #ad89c2;
}

.kwadrat6{
    background-color: #c2a389;
}

.kwadrat7{
    background-color: #94c08c;
}

.kwadrat8{
    background-color: #899fc2;
}

.kwadrat9{
    background-color: #ad89c2;
}

.pagetitle{
    font-size: 45px;
    color: #000000;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.pageundertitle{
    font-size: 40px;
    color:rgba(66, 66, 66, 0.884);
    opacity: 0.6;
    margin-bottom: 60px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.pagetitle, .pageundertitle, .kafelek{
    font-family: Montserrat;
}

.kafelek{
    text-decoration: none;
    font-size: 32px;
    color: #000000;
    width: 200px;
    margin: 0;
    position: absolute;
    padding-top: 50%;
    padding-left: 50%;
    padding-right: -50%;
    transform: translate(-50%, -50%)
}

#1 {
    width: 300px;
    display: inline-block;
}