body{
    background-color: #5f5269;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

div{
    width: 960px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
}

aside{
    width: 250px;
    margin-right: 60%;
}

.right{
    margin-left: 60%;
}

footer{
    text-align: bottom;
}